body{
    background-color: purple;
}

p {
    height: 50px;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 0px; left: 0px; bottom: 0; right: 0;
    padding-top: 25px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: courier, monospace;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: violet;
    justify-content: center;
}